<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.RyanScholzDVM.Formulary"
        version   = "0.9.1">

    <name>Formulary</name>

    <description>
        A veterinary anesthetic formulary. 
    </description>

    <author href="http://www.ryanscholzDVM.com" email="RyanScholzDVM@gmail.com">
        Ryan Scholz, DVM
    </author>
	
	<preference name="orientation" value="portrait" />
	<preference name="show-splash-screen-spinner" value="false" />
	<preference name="splash-screen-duration" value="0" />
	<preference name="permissions" value="none"/>

	<icon src="icon.png" />
	
	<icon src="icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
	<icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
	<icon src="icons/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />
	
	<!-- retina iPad support: PhoneGap 2.5.0+ only -->
	<icon src="icons/ios/icon-72_at_2x.png" gap:platform="ios" width="144" height="144" />
	
	<icon src="icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
	<icon src="icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
	<icon src="icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
	<icon src="icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
	
	<icon src="icons/bb/icon.png" gap:platform="blackberry" />
</widget>